@model DataLayer.Models.Hotels

@{
    ViewBag.Title = "Details";
}

<h2>Details d'un hôtel</h2>

<div>
    <h4>@Model.Nom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdHotel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>
               
        <dt>
            Ville
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Villes.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edition", "Edit", new { id = Model.IdHotel }) |
    @Html.ActionLink("Retour à l'index", "Index") |
    @Html.ActionLink("Créer un séjour pour cet hôtel", "Create", "Sejours",null, new { id = Model.Nom })
</p>
