@model DataLayer.Models.Sejours

@{
    ViewBag.Title = "Delete";
}

<h2>Suppression d'un séjour</h2>

<h3>Etes-vous sûrs de vouloir supprimer le séjour suivant?</h3>
<div>
    <h4>Séjour n°@Model.IdSejour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Destination
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotels.Villes.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotels.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotels.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotels.Categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotels.Categories.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à l'index", "Index")
        </div>
    }
</div>
